body{
    background-color: #FFFAFA;
}

.img-div{
    width: 180px;
    height: 300px;
    background-color: darkgray;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-div a:link{
    color: white;
}

.cover-img{
    width: 180px;
    height: 300px;
    background-color: darkgray;
    
}
